{% extends 'refApp/base.html' %}

{% block content %}
    <h1>Введите код авторизации</h1>
    <form method="post">
        {% csrf_token %}
        <label for="auth_code">Код авторизации:</label>
        <input type="text" id="auth_code" name="auth_code" maxlength="4" required>
        <button type="submit">Авторизоваться</button>
    </form>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
{% endblock %}