{% extends 'refApp/base.html' %}

{% block content %}
    <h1>Здравствуйте. Сначала авторизуйтесь</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="phone_number">Номер телефона:</label>
        <input type="text" id="phone_number" name="phone_number" maxlength="22" required>
        <button type="submit">Получить код авторизации</button>
    </form>
{% endblock %}
