{% extends 'refApp/base.html' %}

{% block content %}
    <h1>Профиль пользователя</h1>
    <p>Номер телефона: {{ person.phone_number }}</p>
    <p>Ваш инвайт-код: {{ person.invite_code.code }}</p>

    {% if person.activated_invite_code %}
        <p>Активированный код приглашения: {{ person.activated_invite_code }}</p>
    {% else %}
        <form method="post">
            {% csrf_token %}
            <label for="invite_code">Введите код приглашения того, кто вас пригласил:</label>
            <input type="text" id="invite_code" name="invite_code">
            <button type="submit">Активировать</button>
        </form>

        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
    {% endif %}

    <a href="{% url 'home' %}">На главную</a>
{% endblock %}